@import "./index.module.scss";

.initialSection {
  @extend .section;
}
.textBox {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.personName {
  font-size: 9rem;
  font-family: chokokutai;
  font-weight: 400;
  padding: 5px 15px;
  margin: 0px;
  text-align: center;
}
.oneLiner {
  @extend .personName;
  letter-spacing: 0.8rem;
  font-size: 2rem;
  font-weight: 100;
  font-family: prata;
}
.personImg {
  width: auto;
  height: 80vh;
  max-height: 100vh;
  // max-width: 60vw;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
// nav
.navBar {
  @include flex(row, center, center);
  position: absolute;
  top: 10vh;
  font-size: 20px;
  z-index: 1;
}
.navDropDown {
  @include flex(column, flex-start, center);
  font-family: prata;
  color: $mainFontColor;
  font-size: 1rem;
  position: relative;
  img {
    margin: 0px 15px;
  }
  &:hover {
    .navDropDownMenu {
      height: fit-content;
    }
  }
}
.navDropDownButton {
  @include flex(row, center, center);
  border: 0.5px solid $mainFontColor;
  padding: 15px;
}
.navDropDownMenu {
  background-color: $mainColor;
  color: $mainFontColor;
  height: 0px;
  width: 100%;
  overflow-y: hidden;
  position: absolute;
  @include flex(column, flex-start, center);
  top: 100%;
  button {
    font-size: 1rem;
    background-color: transparent;
    color: $mainFontColor;
    border: unset;
    margin: 1px 5px;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    &:hover {
      background-color: $mainFontColor;
      color: $mainColor;
    }
  }
}

.navMid {
  width: 50vw;
}

.navIconBox {
  @include flex(row, flex-start, center);

  img {
    width: 27px;
    height: 27px;
    margin: 0px 15px;
    cursor: alias;
  }
}
@media (max-width: #{$desktopViewSize}) and (min-width: #{$mobileViewSize}) {
  .navMid {
    width: 0vw;
  }
  .navBar {
    @include flex(row, space-between, center);
    width: 100vw;
    padding: 0px 15px;
  }
}

@media (max-width: $mobileViewSize) {
  .navBar {
    font-size: 15px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .navDropDown {
    padding: 5px;
  }
  .navMid {
    width: unset;
  }
  .personImg {
    width: 100vw;
    height: auto;
  }
  .personName {
    font-size: 5rem;
  }
  .oneLiner {
    font-size: 1rem;
    letter-spacing: 0.45rem;
  }
}
