@import "./index.module.scss";
.workSection {
  @extend .section;
  position: relative;
}

.title {
  font-size: 7vw;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
}

.image {
  min-height: 100vh;
  height: auto;
  width: auto;
  min-width: 100vw;
  z-index: 0;
}

.arrowIcon {
  width: 200px;
  height: 200px;
  z-index: 1;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform-origin: center center;
  &:hover {
    scale: 0.9;
  }
}

@media (max-width: $mobileViewSize) {
  .title {
    font-size: 7vw;
    position: absolute;
    left: 0px;
    width: 100vw;
    text-align: center;
    z-index: 1;
  }
  .arrowIcon {
    width: 130px;
    height: 130px;
    left: 50%;
    right: auto;

    transform: translateX(-50%);
  }
  .image {
    height: 100vh;
    width: auto;
  }
}
